// Specific CSS for your home-page
.form-control  {
  color: rgba(0,0,0,0.45);
}
.wrapper {
  min-height: calc(100vh - 130px);
}
.col-buffer {
  margin-bottom: 50px;
}
.enhance-secondary-title {
  font-weight: 500;
}
