<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'cowork_background.jpg'%>);">
  <div class="row">
    <div class="col-xs-12">
      <div class="banner-content">
        <h1>La Vache Qui Bosse</h1>
        <p>Work wherever and whenever you want</p>
      </div>
    </div>
    <div class="col-xs-12">
      <form>
        <div class="form-row">
          <div class="col-xs-3">
            <input type="text" class="form-control" placeholder="Where?">
          </div>
          <div class="col-xs-3">
            <input type="text" class="form-control" placeholder="When?">
          </div>
          <div class="col-xs-3">
            <input type="text" class="form-control" placeholder="How many cows?">
          </div>
          <div class="col-xs-3">
            <button type="submit" class="btn btn-primary btn-block">Book now</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- -->
