.mystyle {
  margin: 20px;
  padding: 30px;
}

.padding-spaces {
  min-height: calc(100vh - 130px);
}

.spaces_index_width {
  width: 66%;
}

.show-imagefullwidth {
  width: 100%;
}

.title-space {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  // text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.fa-map-marker {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.fa-users {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.fa-eur {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
